package encapsulationpratice;

class MyCustomer {
    private int cID;
    private String cName;
    private int cNum;

    //setters
    public MyCustomer() {
        cID = 1;
        cName = "Chandu";
        cNum = 9876543;
    }

    public MyCustomer(String name) {
        this();           
    }

    public MyCustomer(int cID, String cName, int cNum) {
        this(cName);
        this.cID = cID;  
        this.cNum = cNum;
    }

    //getters
    public int getcID() {
        return cID;
    }

    public String getcName() {
        return cName;
    }

    public int getcNum() {
        return cNum;
    }
}

public class Encapsulationwiththreeparameters {
    public static void main(String[] args) {
        MyCustomer c1 = new MyCustomer(2,"Alex",456789);
        System.out.println(c1.getcID());
        System.out.println(c1.getcName());  
        System.out.println(c1.getcNum()); 
    }
}
